<!DOCTYPE html>
<html>
<head>
    <title>Modificar Campaña</title>
    <!-- Enlace a los estilos de Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h1>Modificar Campaña</h1>
        <form method="post">
            <div class="form-group">
                <label for="opcion">Selecciona la opción para modificar:</label>
                <select class="form-control" name="opcion">
                    <option value="1">Modificar Fechas de la Campaña</option>
                    <option value="2">Modificar Reglas de la Campaña</option>
                    <option value="3">Modificar Mensaje de la Campaña</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Seleccionar</button>
        </form>
    </div>
</body>
</html>
