<!DOCTYPE html>
<html>
<head>
    <title>Crear Notificación de Campaña</title>
    <!-- Enlace a los estilos de Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h1>Crear Notificación de Campaña para "{{ campaign.campaign_title }}"</h1>
        <form method="post">
            <input type="hidden" name="campaign_id" value="{{ campaign_id }}">
            <div class="form-group">
                <label for="message">Mensaje:</label>
                <input type="text" class="form-control" name="message" required>
            </div>
            <div class="form-group">
                <label for="pass_field_to_update">Campo a actualizar en el pase:</label>
                <input type="text" class="form-control" name="pass_field_to_update" required>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</body>
</html>
